<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<!-- 配置自动扫描的包 -->

	<context:component-scan base-package="info.jafe.emboard"></context:component-scan>
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven />
	<!-- 配置数据源 -->

	<!-- 导入资源文件 -->
	<context:property-placeholder location="classpath:db.properties" />
	<!--bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />

		<property name="initialPoolSize" value="${jdbc.initPoolSize}" />
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
	</bean>

	<!-- 配置 Hibernate 的 SessionFactory 实例，通过 Spring 提供的 LocalSessionFactoryBean 
		提供 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 配置数据源属性 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 配置hibernate配置文件位置及名称 -->
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<!-- 配置hibernate映射文件的位置及名称，可以使用通配符 -->
		<property name="mappingLocations" value="classpath:info/jafe/emboard/entity/*.hbm.xml"></property>

	</bean>

	<!-- 配置 Spring 的声明事务 -->
	<!-- 1. 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 2. 配置事务属性（需要事务管理器） -->

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<!-- 3. 配置事务切点，并关联事务切点和属性 -->

	<aop:config>
		<aop:pointcut expression="execution(* info.jafe.emboard.service.*.*(..))"
			id="txPointcut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
	</aop:config>

	<!--配置视图处理器对象，让Spring MVC进行处理 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--前缀名，这里主要是指定jsp页面在什么目录下面如果在根目录下就写 / -->
		<property name="prefix" value="/"></property>
		<!--后缀名，视图资源的后缀名是，这里是 .jsp -->
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 资源文件绑定器，文件名称：messages.properties（没有找到时的默认文件）， messages_en.properties（英文），messages_zh_CN.properties（中午），等等 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">

		<property name="basename" value="config.messages.messages" />

	</bean>



	<!-- 定义本地化变更拦截器 -->
	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />



	<util:list id="interceptors">
		<ref bean="localeChangeInterceptor" />
	</util:list>



	<!-- 定义注解URL映射处理器 ，所有的请求映射必须关联本地化拦截器 -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors" ref="interceptors" />
		<property name="order" value="1"></property>
	</bean>
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />


	<!-- 静态资源 -->
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/js/editor/" mapping="/js/editor/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/css/editor" mapping="/css/editor/**" />
	<mvc:resources location="/fonts/" mapping="/fonts/**" />
	<mvc:resources location="/external/" mapping="/external/**" />
</beans>
